# Python Data Structures and Boolean
1. Boolean datatype
2. Boolean and Logical Operators
3. Lists
4. Comparison operators
5. Dictionaries
6. Tuples
7. Sets

### Boolean Datatype

In Python, a Boolean is a data type that represents either True or False. Booleans are often used in programming for making decisions or implementing conditional logic. 

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

In [35]:
True

True

In [36]:
False

False

In [37]:
type(True)

bool

In [38]:
type(False)

bool

In [39]:
my_str='Soumya123'

In [40]:
my_str.istitle()

True

In [41]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('3')) #test if string endswith '3'
print(my_str.startswith('S')) #test if string startswith S

True
False
False
True
False
False
False
True
True

### Boolean and Logical Operators

In [42]:
True and True

True

In [43]:
True and False

False

In [44]:
True or True

True

In [45]:
True or False

True

In [46]:
str_1 = 'Apple'
str_2 = 'Ball'

str_1.isalpha() or str_2.isdigit() # True or False

True

### Lists

In Python, a list is a built-in data type used to store a collection of items. 

Lists are versatile and can hold elements of different data types, including integers, floats, strings, and even other lists. 

Lists are mutable, meaning you can modify their contents by adding, removing, or modifying elements.

Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [47]:
type([])

list

In [48]:
lst=[]

In [49]:
type(lst)

list

In [50]:
lst=['Mathematics','Science',100,200,300]

In [51]:
len(lst)

5

### Append

In [53]:
# apend is used to add elements in the end of the list
lst.append("400")

In [54]:
lst

['Mathematics', 'Science', 100, 200, 300, '400']

In [55]:
lst.append(['Aman','Ayan'])

In [56]:
lst

['Mathematics', 'Science', 100, 200, 300, '400', ['Aman', 'Ayan']]

### Insert

In [58]:
# insert is used to insert elements at specific location 
lst.insert(2,'Physics')

In [59]:
lst

['Mathematics', 'Science', 'Physics', 100, 200, 300, '400', ['Aman', 'Ayan']]

### Extend

In [62]:
# it's similar to append but the difference is that
# append adds one at a time, while 
# extend can add more than one at a time.

lst = [1,2,3,4]

In [63]:
lst.extend([5,6])

In [64]:
lst

[1, 2, 3, 4, 5, 6]

### Operations on list

In [66]:
lst=[1,2,3,4,5]

In [67]:
sum(lst)

15

In [68]:
lst=['Apples','and']

In [70]:
lst*3

['Apples', 'and', 'Apples', 'and', 'Apples', 'and']

### Pop() method

In [72]:
# Delets andprint the last element just like how pop() works in stack
lst.pop()

'and'

In [73]:
lst

['Apples']

In [74]:
lst.pop()

'Apples'

In [75]:
lst

[]

### count(): Claculates total occurance of given element fo list

In [76]:
lst=[1,1,2,3,5]
lst.count(1)

2

In [77]:
len(lst)

5

In [78]:
# index() returns the first occurance. Start and End index are not necessary parameters 
lst.index(1,1,4)

1

In [80]:
min(lst)

1

In [81]:
max(lst)

5

### Sets

In Python, a set is a built-in data type used to store an unordered collection of unique elements. 

Sets are defined by enclosing elements within curly braces {}, and elements are separated by commas. 

Sets are similar to lists or tuples, but they do not allow duplicate elements.

In [82]:
set_1 = set()

In [83]:
type(set_1)

set

In [84]:
set_1

set()

In [109]:
set_1={1,2,3,4}

In [110]:
set_1

{1, 2, 3, 4}

In [111]:
set_1.add(5)
print(set_1)

{1, 2, 3, 4, 5}

In [112]:
set_1.add("Apple")
print(set_1)

{1, 2, 3, 4, 5, 'Apple'}

In [113]:
set_2={1,"Apple"}
print(set_2)

{1, 'Apple'}

In [114]:
# intersection operation. Store the intersection of set_1 and set_2 in set_1
set_1.intersection_update(set_2)

In [115]:
set_1

{1, 'Apple'}

In [116]:
set_2.add("Banana")
print(set_2)

{1, 'Banana', 'Apple'}

In [117]:
# difference between the sets. Basically set_2=set_2-set_1 mathematically
set_2.difference_update(set_1)

In [119]:
set_2

{'Banana'}

### Dictionaries

In Python, a dictionary is a built-in data type that represents an unordered collection of key-value pairs. 

Dictionaries are also known as associative arrays or hash maps in other programming languages. 

Each key in a dictionary must be unique, and it maps to a specific value. Dictionaries are created using curly braces '{}', and key-value pairs are separated by colons ':'.

In [123]:
dic = {}

In [124]:
type(dic)

dict

In [127]:
dict_1 = {"Fruit1":"Apple", "Fruit2":"Banana","Fruit3":"Oranges"}

In [128]:
type(dict_1)

dict

In [130]:
print(dict_1)

{'Fruit1': 'Apple', 'Fruit2': 'Banana', 'Fruit3': 'Oranges'}

In [133]:
# here i reffers to keys
for i in dict_1:
    print(i)

Fruit1
Fruit2
Fruit3

In [134]:
# here i reffers to values
for i in dict_1.values():
    print(i)

Apple
Banana
Oranges

In [135]:
# to print both key:value pair
for i in dict_1.items():
    print(i)

('Fruit1', 'Apple')
('Fruit2', 'Banana')
('Fruit3', 'Oranges')

In [136]:
# to add item in dictionary
dict_1["Fruit4"]="Grapes"
dict_1

{'Fruit1': 'Apple',
 'Fruit2': 'Banana',
 'Fruit3': 'Oranges',
 'Fruit4': 'Grapes'}

### Nested Dictionary

In [137]:
# fruits and calories per 100 gm
Fruit1={"Apple":52}
Fruit2={"Banana":89}
Fruit3={"Oranges":43}
Fruit4={"Grapes":69}

Fruit_type = {"type1":Fruit1,"type2":Fruit2,"type3":Fruit3,"type4":Fruit4}

In [138]:
Fruit_type

{'type1': {'Apple': 52},
 'type2': {'Banana': 89},
 'type3': {'Oranges': 43},
 'type4': {'Grapes': 69}}

In [141]:
print(Fruit_type['type1'])

{'Apple': 52}

In [142]:
print(Fruit_type['type1']['Apple'])

52

### Tuples

In Python, a tuple is a built-in data type that represents an ordered, immutable collection of elements. 

Tuples are similar to lists, but the key difference is that once a tuple is created, you cannot modify its contents (add, remove, or change elements). 

Tuples are defined using parentheses '()'.

In [143]:
my_tuple=tuple()

In [144]:
type(my_tuple)

tuple

In [145]:
my_tuple=("Apple","Banana","Orange")

In [146]:
my_tuple

('Apple', 'Banana', 'Orange')

In [148]:
my_tuple.count("Apple")

1