# If else

In [1]:
# num is even or odd
a = int(input("Enter a number to check for even or odd : "))
if a%2==0:
    print("Even")
else:
    print("Odd")

Enter a number to check for even or odd : 12
Even

In [2]:
# finding the smallest of 3 numbers
a,b,c = int(input("Enter num 1 : ")),int(input("Enter num 2 : ")),int(input("Enter num 3 : "))
if a<b:
    if a<c:
        print(a," is the smallest")
    else:
        print(c," is the smallest")
else:
    if b<c:
        print(b," is the smallest")
    else:
        print(c," is the smallest")

Enter num 1 : 12
Enter num 2 : 14
Enter num 3 : 1
1  is the smallest

# Loops

In [3]:
lst=[1,2,3,4,5,6,7,8,9,10,12,13,14,15]

even_sum=0
odd_sum=0
for i in lst:
    if i%2==0:
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
print(even_sum,odd_sum)

56 53

In [4]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# Functions

In [5]:
'''
Syntax
def funcname(parameter1,parameter2,...):
    function body

'''

'\nSyntax\ndef funcname(parameter1,parameter2,...):\n    function body\n\n'

In [6]:
def hello(name,age):
    print("My name is {name} and my age is {age}.".format(name=name,age=age))

In [7]:
hello("Soumya",21)

My name is Soumya and my age is 21.

In [8]:
def hello(*args,**kwargs):
    print(args)
    print(kwargs)

In [9]:
hello("Soumyadipta","Kar",age=21,dob=2002)

('Soumyadipta', 'Kar')
{'age': 21, 'dob': 2002}

In [10]:
lst=["Soumyadipta","Kar"]
dist_args={'age':21,'dob':2002}

In [11]:
hello(*lst,**dist_args)

('Soumyadipta', 'Kar')
{'age': 21, 'dob': 2002}

In [12]:
def add(num1,num2):
    return num1+num2

In [13]:
add(10,20)

30

In [14]:
def add_list(lst):
    sum1 =0
    for i in lst:
        print(i)
        sum1=sum1+int(i)
    return sum1

In [15]:
add_list([1,2,3,4,5])

1
2
3
4
5

15

In [16]:
input_num=list(input("Enter the list : "))

Enter the list : 12345

In [17]:
input_num

['1', '2', '3', '4', '5']

In [18]:
add_list(input_num)

1
2
3
4
5

15

## Lambda Function

In [19]:
def addition(a,b):
    return a+b

In [20]:
addition(10,20)

30

In [21]:
addition1=lambda a,b:a+b

In [22]:
addition1(10,20)

30

In [23]:
def even(n):
    if n%2==0:
        return True

In [24]:
even(20)

True

In [25]:
even1=lambda a:a%2==0

In [26]:
even1(20)

True

## Map Function

In [27]:
def even_or_odd(num):
    if num%2==0:
        return "{} is Even".format(num)
    else:
        return "{} is Odd".format(num)

In [28]:
even_or_odd(24)

'24 is Even'

In [29]:
lst=[1,2,3,4,5,6,7,8,9,10]

In [30]:
list(map(even_or_odd,lst))

['1 is Odd',
 '2 is Even',
 '3 is Odd',
 '4 is Even',
 '5 is Odd',
 '6 is Even',
 '7 is Odd',
 '8 is Even',
 '9 is Odd',
 '10 is Even']

In [31]:
lst_1 = [str(x) for x in range(10)]
print(lst_1)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [32]:
lst1=list(map(str, range(10)))
print(lst1)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

## Filter function

In [33]:
def even(num):
    if num%2==0:
        return True

In [34]:
lst=[1,2,3,4,5,6,7,8,9,0]

In [35]:
list(filter(even,lst))

[2, 4, 6, 8, 0]

In [36]:
list(filter(lambda num:num%2==0,lst))

[2, 4, 6, 8, 0]

In [37]:
list(map(lambda num:num%2==0,lst))

[False, True, False, True, False, True, False, True, False, True]